# To define a service:
# 1) Define the build paths
# 2) Define the environment variables
# 3) Define the ports as host:container

services:

  backend:
    build: ./backend/iLoca/BankuumTubo/Main
    environment:
      - ASPNETCORE_ENVIRONMENT=Development # to set the backend to Development to find the correct file "appsettings.Development.json"
      - ConnectionStrings__DefaultConnection=Host=${DB_HOST};Port=${DB_PORT};Database=${DB_DATABASE};Username=${DB_USERNAME};Password=${DB_PASSWORD}
    ports:
      - "5027:5027"               

  frontend:
    build:
      context: ./frontend/iLoca
    ports:
      - "3000:80"                 
    environment:
      - REACT_APP_API_BASE=http://localhost:5027
    depends_on:
      - backend

# To store data outside the container file system         
volumes:
  db_data: