# To define a service:
# 1) Define the build paths
# 2) Define the environment variables
# 3) Define the ports as host:container

services:

  backend:
    build:
      context: ./dotnetFiles         #
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
    ports:
      - "5027:5027"               

  frontend:
    build:
      context: ./frontend/iLoca
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "3000:80"                 
    environment:
      - REACT_APP_API_BASE=http://localhost:5027
    depends_on:
      - backend

volumes:
  db_data: