# To define a service:
# 1) Define the build paths
# 2) Define the environment variables
# 3) Define the ports as host:container

services:
  bankuumtubo:
    build: ./backend/BankuumTubo/Main
    # Load environment variables from .env file into backend service
    env_file:
      - .env
    ports:
      - "5027:5027"
    restart: unless-stopped

  vidaloca:
    build: ./backend/VidaLoca/Main
    env_file:
      - .env
    ports:
      - "5112:5112"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend/iLoca
    ports:
      - "3000:80"                 
    environment:
      - REACT_APP_API_BASE=http://vidaloca:5112

    depends_on:
      - bankuumtubo
      - vidaloca
  

networks:
  default:
    name: iloca_network
