# Build results
bin/
obj/
out/

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs
*.vs/

# Visual Studio Code settings
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# NuGet packages
*.nupkg
packages/
.nuget/

# Rider IDE
.idea/

# Publish folders
publish/
